

body {
  background-image: 
  url(Photos/images/trippy.jpeg);
  background-size: cover;
  border: 5px solid black;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Lobster", cursive;
  width: auto;
}

a {
  color: #000;
}

/* header */

body header {
  text-align: left;
  border: 3px black;
  outline-color: #FFF0F5;
  outline-style: solid;
}

.header {
  background-color: #FF69B4;
  position: flex;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #FF69B4;
}

.header li a {
  display: block;
  padding: 5px 5px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #8a2be2;
}

.header .logo {
  display: inline-block;
  margin: auto;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  border: 3px solid #8a2be2;
  outline-color: #FF69B4;
  outline-style: solid;
  box-shadow: 0px 0px 10px black;
}

.menu {
  background-color: #FF69B4;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

header img {
  max-width: 80px;
  height: auto;
  border: hidden;
}

div.scroll-container {
  background: cover;
  background-image: url(Photos/images/hippy.jpg);
  background-repeat: no-repeat;
  overflow: auto;
  white-space: nowrap;
  padding: 5px 5px 5px 5px;
  width: 90%;
  height: 40%;
  border: 5px #FFF0F5;
  Border-style: solid;
  border-radius: 10px; 
  margin: auto;
}

div.scroll-container img {
  padding: 10px 10px 10px 10px; 
  width: 25%;
  border: 5px solid #ff00ff;
  border-radius: 10px;
  border-style: solid;
}
  
article h1 {
  margin: 1em;
  padding: 50px;
  border: 5px solid black;
  text-align: center;
  background-image: url(Photos/images/old.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 150%;
  outline-color: #FFF0F5;
  outline-style: solid;
}
 
h1 {
  color: #FF00FF; 
  text-align: center;
  padding: 60px;
  font-family: 'Lobster', cursive;
  margin: auto;
  font-size: 50px;
  text-shadow: 4px 4px white;
  width: auto;
  }

hr {
  border-color: #8a2be2;
  border-radius: 1px;
  margin: 50px;
  width: auto;
  box-shadow: 2px 2px 2px 2px #FF00FF;
  outline-color: #FFF0F5;
  outline-style: solid;
}

main {
  padding: 20px 20px 20px 20px;
}

article {
  padding-top: 2em;
  margin: 0;
  border: 5px solid #ff00ff;
  background-image: url(Photos/images/purple.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  outline-color:#FFF0F5;
  outline-style: solid;
}

article h2 {
  margin: 1em;
  padding: auto;
}

section {
  text-align: center;
  border: 5px solid #FF69B4;
  margin: 20% 10%;
  Padding: 25px;
  background-image: url(Photos/images/purple.jpg); 
  box-shadow: 2px 2px 2px 2px #8A2BE2;
  outline-color: #FFF0F5;
  outline-style: solid;
}


h2, h3, h4, h5, h6, h7, h8 {
  font-size: 50px;
  font-family: 'Lobster', cursive;
  font-weight: 300px;
  text-align: center;
  margin: 10% 0% 10% 0%;
  color: #8A2BE2;
  text-shadow: 2px 2px white;
}

section img {
  margin-top: 40px;
}

a {
	font-weight: 700;
	text-decoration: none;
  text-decoration-color: black;
}

ul {
  text-align: center;
  color: #FF00FF;
  font-size: 30px;
  padding: 0;
  text-shadow: 2px 2px yellow;
  margin: auto;
  display: block;
}

li {
  list-style-type: none;
}

.list {
  text-align: center;
  color: #FF00FF;
  font-size: 30px;
  padding: 0;
  text-shadow: 2px 2px yellow;
  margin-bottom: auto;
}

img {
  margin: auto;
  width: 95%;
  border: 5px solid black;
  border-radius: 10px;
}

.image-row {
  display: inline-block;
  align-content: space-evenly;
  max-width: 75px;
  max-height: auto;
  padding: 0;
  margin: 0 5px;
}

.image-row img {
  width: 100%;
  height: auto;
  border: 5px solid black;
  border-radius: 10px;
}

p {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: 800px;
  color:#ff00ff; 
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-shadow: 2px 2px white;
}

footer {
  border-top: 5px solid black;
  outline-color: #FFF0F5;
  outline-style: solid;
}

footer p {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color:  #FF00FF;
  padding-left: 0px;
}


