body {
  background-color: #DDA0DD;
  background-image: 
  url(images/trippy.jpeg);
  background-size: cover;
  border: 8 plx purple;
}

nav {
  padding: 2rem 2rem;
  background-color:#222831;
  color: #fff
}

.checkbtn {
  font-size: 24px;
  padding: 15px;
  cursor: pointer;
}

.nav-mobile {
  display: none;
}

#check:checked ~ .nav-mobile {
  display: block;
}

.nav-mobile {
  position: absolute;
  top: 4.5rem;
  left: 0;
  background: #222831;
  z-index: 1;
  width: 200%;
}

.nav-mobile a {
  color: #fff;
  padding: 1rem 1.5rem;
  display: block;
}

.nav-mobile a:hover {
  background-color: #333;
}

<div class="nav-mobile w3-animate-right">
<a href="#home">Home</a>
<a href="#about">About</a>
<a href="#products">Product list</a>
<a href="#contact">Contact</a>
</div>

@media only screen and (max-width: 992px) {
  .checkbtn {
  display: block;
  font-size: 5rem;
  position: absolute;
  top: 30px;
  left: 40px;
  }
  .nav-mobile {
  top: 160px;
  width:100%;
  }
.nav-mobile a {
  font-size: 2rem;
  padding: 2rem 3rem;
 }
}


body h1 { 
  text-align: center;
  color: #FF00FF;
  }



header {
  margin-bottom: 40px;
  border: 5px solid black;
  text-align: center;
  background-image: url(images/old.jpg);
  width: auto;
}

header h1 {
  color:  #FF00FF;
  text-align: center;
  padding-top: 15px;
  font-family: 'Lobster', cursive;
  margin: 14px 0 14px 20px;

  font-size: 60px;
  text-shadow: 4px 4px #000000;
  width: auto;
  }

  


main {
  padding: 20px 20px 20px 20px;
}

section {
  padding-top: 2em;
  margin-bottom: 100px;
}

h1 {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  font-weight: 300px;
}

h2 {
  margin: auto;
  padding: 2em 0 2em 0;
  color: #FFFAFA;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px #ff00fa;
  background-image: url(images/purple.jpg)
  box-align: center;

}

h2 p {
  font-size: 25px;
  font-family: 'Lobster', cursive;
  font-weight: 300px;
  color: #FFFAFA;
  text-align: center;
}

hr {
  background-repeat: repeat-x;
  background-size: 50%;
  border: none;
  background-color: ghostwhite;
  border-radius: 63%
}

styleA-h3 {
 text-align: center;
 margin: auto;
 padding: 2em 0 2em 0;
 color: #FFFAFA;
 font-size: 30px; 
 font-family: 'Lobster', cursive;
}

h3 {
  text-align: center;
  margin: auto;
  padding: 2em 0 2em 0;
  color: #FFFAFA;
  font-size: 30px;
  text-shadow: 4px 4px #000000;
}


p {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  font-weight: 800px;
  color:ghostwhite; 
  padding: 0 0 10px 10px;
  text-align: center;
  text-shadow: 2px 2px #ff00fa;
}

footer {
  border-top: 5px solid black;
}

footer p {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color:  #FF00FF;
  padding-left: 0px;
}

a {
	font-weight: 700;
	text-decoration: none;
}

img {
  margin: -5px;
  width: 90%;
  border: 5px solid black;
  align-content: right;
}

.group {
  display: flex;
  flex-direction: column;
}


.item {
  flex: 1;
}

.group {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

hr {
  background-image: url(images/hippy.jpg);
  background-repeat: repeat-x;
  background-size: 50%;
  border: none;;
  background-color: ghostwhite;
  border-radius: 63%
}


/* Contact Form Design*/

form {
  font-family: 'lobster' cursive;

}

form label {
  font-size: 20px;
  font-family: 'lobster' cursive;
}

form input,
form textarea {
  width: 95%;
  margin-bottom: 20px;
  border: 1px solid black;
}

form textarea {
  height: 160px;
}

form button {
  border: 2px solid black;
  background-color: #FF00FF;
  color: black;
}


/* buttons for links*/

.btn {
  display: inline-block;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
}

.btn-primary {
  background-color: white;
  display: inline-block;
}

ol {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.bg-callout {
   padding: 50px 0 50px 0;
   background-image: url("images/purple.jpeg");
   background-size: cover;
   border: 5px solid black;
}

ul {
  text-align: left;
  color: #FF00FF;
  font-size: 25px;
  padding-right: 10px;
  text-shadow: 2px 2px black;
}